#aboutus{
    background: url("../images/about-us-banner.jpg") no-repeat center;
}
.aboutus-box{
    width:100%;
    height:1075px;
    background: url("../images/aboutus-bg.jpg") no-repeat center;
    background-size:cover;
    background-position-x:-270px;
}
.aboutus-con{
    width: 1200px;
    height:1075px;
    margin: 0 auto;
}
.aboutus-list{
    width:410px;
    height: 860px;
}
.aboutus-top{
    width:410px;
    height: 100px;
    line-height: 100px;
    text-indent: 2.5em;
}
.aboutus-title{
    width: 340px;
    height:70px;
    margin-left: 2.5em;
    border-bottom: 2px solid #000;
}
.aboutus-title>span{
    font-weight: bold;
}
.aboutus-title>div{
    padding-bottom: 5px;
}
.aboutus-title>p{
    font-size: 14px;
}
.aboutus-top>a{
    color: #000;
}
.aboutus-content{
    width:340px;
    height: 410px;
    margin-left: 2.5em;
}
.aboutus-content>div{
    padding-top: 20px;
}
.aboutus-content>p{
    text-align: justify;
    line-height: 200%;
    font-size: 14px;
}
.tell{
    width:340px;
    height: 120px;
    margin-left: 2.5em;
}
.tell>div{
    padding-top: 1em;
}
.tell>p{
    text-align: justify;
    line-height: 250%;
}
.erwm{
    width: 340px;
    height: 118px;
    margin-left: 2.5em;
    background: url("../images/erwm.png") no-repeat;
}