@import url(respondsive.css);
ul,li,ol,dl,dd,dt,tr,td,h1,h2,h3,h4,h5,h6,input,img,div,article,span,p{
    margin: 0;padding: 0;
    list-style:none;
    display: block;}
a{text-decoration: none;padding: 0;
    margin:0; color: #000}
body{
    background-color: #f2f2f2;
    margin: 0;
}
img{
    border: none;
}
input{
    border: #fff;
}
*{
    box-sizing: border-box;
}
.find-box{
    width: 100%;
    height:0.88rem;
    background:#FABC09;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.icon01{
    width: 0.97rem;
    height: 0.87rem;
}
.icon01 img{
    width: 0.4rem;
    height: 0.7rem;
    padding-top: 0.14rem;
    margin-left: 0.28rem;
}
.find-box-kuang{
    width: 5.52rem;
    height: 0.6rem;
    border-radius: 0.1rem;
    background: #fff;
    margin-top: 0.16rem;
}
.goshapping{
    width: 0.97rem;
    height: 0.88rem;
    float: right;
    background:url("../images/QQ图片20170211110830_03.png") no-repeat;
    background-size: contain;
}
.banner{
    width: 100%;
    overflow: hidden;
}
.banner img{
        width: 100%;
        padding-top: 0.88rem;
}
.con{
       width: 600%;
       display: flex;
       justify-content: space-around;
}
.list{
    width:16.66666666666666%;
}
.box-nav{
    width: 100%;
    height:3.16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}
.nav-list{
    width: 20%;
    height: 1.58rem;
}
.nav-list img{
    width:0.8rem;
    height: 0.8rem;
    margin: 0 auto;
    margin-top: 0.24rem;
}
.nav-list h3{
    font-size:0.14rem;
    color: #7b7f82;
    text-align:center;
    line-height:0.54rem;
}

.text-one{
    width: 100%;
    height: 1.06rem;
    background-color: #fff;
    border-top: 2px solid #f2f2f2;
}
.text-one-01 img{
    width: 1.45rem;
    height: 0.48rem;
    float: left;
    margin-top: 0.3rem;
}
.line{
    width: 0.02rem;
    height: 0.48rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.33rem;
    background-color:#f2f2f2;
}
.adrium{
    width: auto;
    height: 0.6rem;
    float: left;
    margin-left: 0.4rem;
    margin-top: 0.24rem;
}
.adrium-one,.adrium-tow{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 50%;
    margin-top: 0.1rem;
    float: left;
    background-color: #FABC09;
}
.adrium-one-text,.adrium-tow-text{
    width:auto;
    height: 0.2rem;
    float: left;
    padding-left: 0.15rem;
    color: black;
    font-size:0.12rem;
}
.adrium-tow{
    clear: both;
}
.adrium-tow-text{
    clear: both;
}
/*内容*/
.box{
    width: 100%;
    height: 3.17rem;
    background: #ffffff;
    margin-top: 0.24rem;
}
.box-three{
    width: 100%;
    height: 0.8rem;
}
.logo{
    width: 1.57rem;
    height: 0.8rem;
    float: left;
    background: url("../images/logo-3_02.png") no-repeat;
    background-size: contain;
}
.time{
    padding-top: 0.39rem;
    padding-left: 0.19rem;
    font-size: 0.12rem;
    color: #fa4b4b;
    float: left;
}
.tubiao{
    width:0.15rem;
    height: 0.28rem;
    margin-top: 0.33rem;
    margin-right: 0.2rem;
    background:url("../images/yubiao.png") no-repeat;
    background-size: contain;
    float: right;
}
.qianghaohuo{
    width: 0.8rem;
    height: 0.35rem;
    background: #ffc001;
    border-radius:0.165rem;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.35rem;
    margin-top: 0.3rem;
    margin-right: 0.05rem;
    float: right;
}
.box-four{
    width: 7.13rem;
    height: 1.69rem;
    border: 1px solid #fff;
    margin-left: 0.1rem;
    display: flex;
}
.box-four-kuang{
    width:33.333333%;
    height: 1.69rem;
    margin-left: 0.1rem;
    border: 1px solid #ddd;
    background: url("../images/001.png");
    background-size: contain;
}
.box-four-text{
    width:6.89rem;
    height: 0.68rem;
    display: flex;
    margin-left: 0.26rem;
    justify-content:space-between;
}
.box-four-text-one{
    width:2.2rem;
    height:0.68rem;
    background-color:#dddddd;
}
.text-box{
    width: 1.43rem;
    height: 0.68rem;
    float: left;
}
.box-four-text-one span:nth-child(1){
    color: #dd0000;
    padding-top: 0.09rem;
    padding-left: 0.26rem;
    font-size: 0.20rem;
}
.box-four-text-one span:nth-child(2){
    text-decoration:line-through;
    padding-left: 0.26rem;
    font-size: 0.12rem;
}
.dazhe{
    width:0.72rem;
    height: 0.70rem;
    margin-bottom: 0.06rem;
    float: left;
    background:url("../images/033.png") no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 0.08rem;
    text-align: center;
     padding-top: 0.1rem;
    color: #fff;
}
.only-img{
    width: 100%;
    height: 2.24rem;
    background: url("../images/1010_02.png") no-repeat;
    background-size: contain;
}
.behing{
    width: 100%;
    height: 0.6rem;
    margin-top:0.06rem;
    background: url("../images/146768148103752156.png") no-repeat;
    background-size: contain;
}
.biger{
    margin-top: 0.24rem;
}
.context-box{
    width: 100%;
    height:2.94rem;
    background-color: #fff;
    display: flex;
}
#only-one{
    background: url("../images/148671816479628683.png") no-repeat;
    background-size: contain;
}
.context-list{
    width: 50%;
    height:2.94rem;
    border-top:0.02rem solid #f2f2f2;
    border-bottom:0.02rem solid #f2f2f2;
}
.context-box:nth-child(2){
       display: flex;
}
.context-list-small{
    width: 100%;
    height:50%;
    border-left: 0.02rem solid #f2f2f2;
    background: url("../images/148660249019295288.png") no-repeat;
    background-size: contain;
}
.context-list-small:nth-child(1){
    border-bottom:0.02rem solid #f2f2f2;
}
.context-box-last{
    width: 100%;
    height: 3.02rem;
    background: #fff;
    display: flex;
}
.context-list-smaller{
    width: 25%;
    height: 100%;
    border-right:0.02rem solid #f2f2f2;
    background: url("../images/148662766933683295.png") no-repeat;
    background-size: contain;
}
.none{
    border-right: none;
}
.only-img-tow{
    width: 100%;
    height: 2.24rem;
    margin-top: 0.30rem;
    background: url("../images/148662486030164461.jpg") no-repeat;
    background-size: contain;
}
.line-right{
    border-right:0.02rem solid #f2f2f2;
}
.context-box-last03{
    width: 100%;
    height:2.92rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
.context-list03-smaller{
    width: 50%;
    height: 50%;
    border-right:0.02rem solid #f2f2f2;
    background: url("../images/148673391190450686.png") no-repeat;
    background-size: contain;
}
.context-box-last04{
    width: 100%;
    height:7.25rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
.context-list04-smaller{
    width: 33.333333%;
    height: 33.333333%;
    border-right:0.02rem solid #f2f2f2;
    border-bottom:0.02rem solid #f2f2f2;
    background: url("../images/148654811966317737.png") no-repeat;
    background-size: contain;
}
.none-bottom{
    border-bottom: none;
}
.context-box-six{
    width: 100%;
    height: 1.28rem;
    background-color: #fff;
    display: flex;
}
.context-list-six{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.six-logo{
    width: 1rem;
    height: 100%;
    background: url("../images/148237158258758129.png") no-repeat;
    background-size: contain;
    background-position: center;
     margin-left: 0.2rem;
}
.six-text{
    width:2.75rem;
    height: 100%;
    font-size: 0.12rem;
    padding-left: 0.21rem;
    padding-top: 0.29rem;
}
.six-tow{
    width: 100%;
    height: 2.3rem;
    background-color: #ffffff;
    display: flex;
}
.six-tow-one{
    width: 50%;
    height: 100%;
    display: flex;
}
.tow-one-biger{
    width:2.3rem;
    height: 100%;
    border: 2px solid #ddd;
    margin-left: 0.2rem;
    background: url("../images/0070079092-000000000600312921_1.png") no-repeat;
    background-size: contain;
}
.tow-one-nobiger{
    width:1.13rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.01rem;
    justify-content: space-between;
}
.nobiger-one{
    width: 100%;
    height: 50%;
    border: 2px solid #ddd;
    background: url("../images/0070079092-000000000600312922_1.png") no-repeat;
    background-size: contain;
}
.o{
    width: 100%;
    height: 0.6rem;
    background: #fff;
}
/*like-box*/
.like-box{
    width: 100%;
    height: 0.87rem;
    display: flex;
}
.like-box-list-one,.like-box-list-three{
    width:2.48rem;
    height:0.52rem;
    border-bottom: 2px solid #dddddd;
}
.like-box-list-one{
    margin-left:0.24rem;
}
.like-box-list-tow{
    width: 2.15rem;
    height: 0.85rem;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.85rem;
}
/*.like-box-list-tow images{*/
    /*width: 0.34rem;*/
    /*height: 0.34rem;*/
/*}*/
.like-text{
    width: 100%;
    height: 0.5rem;
    font-size: 0.26rem;
    color: #ffaa00;
    text-align: center;
}
.content-box-sum{
    width: 100%;
    height: 3.46rem;
    display: flex;
}
.box-sum-img{
    width:3.45rem;
    height: 100%;
    margin-left: 0.2rem;
    background:url("../images/0070126146-000000000141739079_1.png") no-repeat;
    background-size: contain;
}
.box-sum-text{
    width: 100%;
    height: 1.5rem;
    display: flex;
    margin-bottom:0.2rem;
    background-color: #fff;
}
.sum-text{
    width:3.45rem;
    height: 100%;
    margin-left: 0.2rem;
}
.title-text,.title-text-num{
    width: 100%;
    height: 50%;
    font-size: 0.24rem;
    padding-top: 0.15rem;
    padding-left: 0.1rem;
    color: #333;
}
.title-text-num span{
    color: #e21d1d;
}
.title-text-num{
  position: relative;
}

.like-kiuang{
    width: 1.29rem;
    height: 0.49rem;
    border: 1px solid #ffaa00;
    border-radius: 0.05rem;
    text-align: center;
    line-height: 0.49rem;
    position: absolute;
    bottom:0.1rem;
    right:0.15rem;
    color: #ffaa00;
}
.footer-banner{
    width: 100%;
    height: 1.5rem;
    background: url("../images/147089924753953251.png") no-repeat;
    background-size: contain;
    margin-bottom: 0.24rem;
}
.lond-going-box{
    width: 100%;
    height: 0.94rem;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.lond-going{
    width: 100%;
    height: 33.3333333%;
}
.lond-sum{
    display: flex;
}
.lond{
    width: 20%;
    height: 100%;
    border-right: 2px solid #ddd;
    text-align: center;
    line-height: 100%;
    font-size: 0.12rem;
}
.no-lond{
    border-right: none;
}
.copy{
    width: 100%;
    height: 0.57rem;
    text-align: center;
    line-height: 0.57rem;
    font-size: 0.14rem;
    color: #909090;
    background-color: #fff;
}
.kong{
    width: 100%;
    height: 1.5rem;
    background-color: #fff;
}
/*最下面*/
.footer{
    width: 100%;
    height:1rem;
    background-color: #fff;
    display: flex;
    position: fixed;
    bottom: 0;
}
.footer-list{
    width: 20%;
    height:1rem;
}
.tubiao-tow{
    width: 100%;
    height: 0.59rem;
    margin: 0 auto;
    background: url("../images/147278427948036982.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0.14rem;
}
.footer-list span{
    font-size: 0.12rem;
    text-align: center;
}