ul,ol,div,h1,h2,input,body,ul,li,p{
    margin: 0px; padding: 0px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #fff;
}
ul,li{
    list-style: none;
}
img{
    border: none;
}
*{
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face {
    font-family: 'iconfont';  /* project id 223417 */
    src: url('//at.alicdn.com/t/font_hcf4yxzyupiudi.eot');
    src: url('//at.alicdn.com/t/font_hcf4yxzyupiudi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_hcf4yxzyupiudi.woff') format('woff'),
    url('//at.alicdn.com/t/font_hcf4yxzyupiudi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_hcf4yxzyupiudi.svg#iconfont') format('svg');
}
/*@font-face {*/
    /*font-family: 'iconfont';  !* project id 223369 *!*/
    /*src: url('//at.alicdn.com/t/font_ph8fbwivsb9h33di.eot');*/
    /*src: url('//at.alicdn.com/t/font_ph8fbwivsb9h33di.eot?#iefix') format('embedded-opentype'),*/
    /*url('//at.alicdn.com/t/font_ph8fbwivsb9h33di.woff') format('woff'),*/
    /*url('//at.alicdn.com/t/font_ph8fbwivsb9h33di.ttf') format('truetype'),*/
    /*url('//at.alicdn.com/t/font_ph8fbwivsb9h33di.svg#iconfont') format('svg');*/
/*}*/
@font-face {
    font-family: 'iconfont';  /* project id 223369 */
    src: url('//at.alicdn.com/t/font_cvgk66nb5ely2e29.eot');
    src: url('//at.alicdn.com/t/font_cvgk66nb5ely2e29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_cvgk66nb5ely2e29.woff') format('woff'),
    url('//at.alicdn.com/t/font_cvgk66nb5ely2e29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_cvgk66nb5ely2e29.svg#iconfont') format('svg');
}
/*最上面*/
.top{
    width: 100%;
    height: 42px;
    border-bottom: 2px solid #000;
    background: #444;

}
.topgunag{
    width: 1000px;
    height: 42px;
    text-align: right;
    line-height: 42px;
    margin: 0 auto;
    color: #8c8c8e;
}


/*nav*/
.nav{
    width: 100%;
    height:44px;
    background: #000

}
.navsum{
    width: 1000px;
    height: 44px;
    margin: 0 auto;
    text-align: justify;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.navsum:after{
    content: "";
    width: 100%;
    height: 44px;
    display: inline-block;

}
.navsumo{
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    display: inline-block;

}
.icon{
    font-family: 'iconfont';

}
.navsumo a{
    transition: all 0.5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navsumo a:hover{
    color: #BCBCBC;
}
.smallshows{
    display: none;
}
.navsmallshows{
    display: none;
}
.findbox{
    width:0;
    height: 44px;
    background-color: #000;
    position: absolute;
    top:0px;
    left:18%;
    z-index: 20;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    overflow: hidden;
    transition: all 0.5s;
}
#mac{
    transition: all 0.5s;
}
@media screen and (max-width: 1068px){.navsum{
    width: 100%;
}
    .shapping{
        padding-right: 20px;
    }
.padd{
    padding-left: 20px;
}
    .smallshows{
        display: none;
    }
    .navsmallshows{
        display: none;
    }

    .topgunag{
        width: 100%;
        padding-right: 20px;
    }
}
@media screen and (max-width: 735px){.navsum{
    width: 100%;
}
    .shapping{
        padding-right: 20px;
    }
.shows{
    display: none;
}
.smallshows{
    font-family: 'iconfont';
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
}
    .navsmallshows{
        display: block;
    }
}
.goshopping{
    width: 250px;
    height: 300px;
    border: 1px solid #ccc;
    position: absolute;
    right: 5px; top:90px;
    background-color: #fff;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
}
.firstshopping{
    width: 100%;
    height: 28.5714286%;
    font-size: 14px;
    line-height: 84px;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    text-align: center;
    margin:0 20px;
}
.secondshopping{
    width: 100%;
    height:14.5714286%;
    border-bottom: 1px solid #ccc;
    margin:0 20px;
    font-size: 12px;
}
em{
    font-style: normal;
}
.secondshopping em{
    font-size: 14px;
    line-height: 42px;
    color: #0b04ff;
}
.secondshopping em:last-child{
    padding-left: 10px;
}
.secondshopping:last-child{
    border-bottom: none;
}




 /*banner*/
.banner{
    width:100%;
    height: 553px;
    overflow: hidden;
    position: relative;
}
.bannersum{
    width:500%;
    height: 553px;
    display: flex;
    transition: all 0.5s;
    transform: translateX(-1275px);
}
.banner01{
    width:100%;
    height:553px;
    background: url("../images/banner-l.jpg") no-repeat;
    background-position:center;
    background-size: auto 100%;
    position: relative;
    background-color: #0A0A0A;
}
i{
    font-style: normal;
}
.banner02{
    width:100%;
    height:553px;
    background: url("../images/banner-l2.jpg") no-repeat;
    background-position:center;
    background-position-y: 130px;
    position: relative;
    background-size: 110% 100%;
}
i{
    font-weight: 900;
    font-size: 36px;
    font-family: "苹方 粗体", "粗体";
}
.textiMAC{
    text-align: center;
    height: 90px;
    color: #000;
    position: absolute;
    left: 36%;top: 4%;
    font-size: 30px;
    font-weight:500;
}
.banner03{
    width:100%;
    height:553px;
    background: url("../images/banner-l3.jpg") no-repeat;
    background-position:center;
    background-size: auto 100%;
    position: relative;
    background-color: #F2F2F2;
}
.texti7{
    width: 140px;
    height: 90px;
    color: #fff;
    position: absolute;
    left: 46%;top: 4%;
    font-size: 30px;
}
.left,.right{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(204, 204, 204, 0.53);
    position: absolute;
    top:50%;left: 0;
    margin-top:-35px;
    font-size: 38px;
    text-align: center;
    line-height: 70px;
    margin-left: 20px;
    color: #ccc;
    opacity: 0;
    z-index: 5;
    transition: all 0.5s;
    cursor: pointer;

}
.right{
    margin-left: 1150px;
}
.ccc{
    width: 200px;
    height: 2px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top:90%;
    display: flex;
    justify-content: space-between;
}
.ccc li{
    width: 60px;
    height: 100%;
    background-color: #DCDCDC;

}
.ctow{
    width:60px;
    height: 100%;

}
@media screen and (max-width: 1068px){
    .banner{
        height: 456px;
    }
    .bannersum{
        height: 456px;
        transform: translateX(-455px);
    }
    .banner01{width: 100%;
        height: 456px;
        background: url("../images/banner-m.jpg") no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #0A0A0A;

}
    .banner02 {
        width: 100%;
        height: 456px;
        background: url("../images/banner-m2.jpg") no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-position-y: 100px;
    }
    .textiMAC{
        height: 90px;
        color: #000;
        position: absolute;
        left: 30%;top: 4%;
        font-size: 30px;
        font-weight:300;
    }
    .textiMAC i{
        font-size: 30px;
    }

    .banner03 {
        width: 100%;
        height: 456px;
        background: url("../images/banner-m3.jpg") no-repeat;
        background-size:cover;
        background-position: center;
    }

}
@media screen and (max-width: 735px){
    .banner01{
        width: 100%;
        height: 409px;
        background: url("../images/banner-s.jpg") no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #0A0A0A;
    }
    .banner02{
        width: 100%;
        height: 409px;
        background: url("../images/banner-s3.jpg") no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-position-y: 180px;
        position: relative;
        background-size: 100%;
        background-color: #fff;
    }
    .textiMAC{
        height: 90px;
        color: #000;
        position: absolute;
        left: 30%;top: 4%;
        font-size: 20px;
        font-weight:300;
    }
    .textiMAC i{
        font-size: 20px;
    }
    .banner03{
        width: 100%;
        height: 409px;
        background: url("../images/banner-s2.jpg") no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #F2F2F2;
    }
    .texti7{
        left: 35%;top: 4%;
    }
    .banner{
        height: 409px;

    }
    .bannersum{
        height: 409px;
        transform: translateX(-455px);
    }
}
 /*下文开始*/
.flock{
    width:100%;height: 200px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.imgs{
    width: 25%;
    height: 200px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
       border-bottom: 2px solid #fff;
}
@media screen and (max-width:1068px){.imgs{
    width:50%;
}
}
@media screen and (max-width:735px){.imgs{
    width:100%;
}
}
.flock .imgs:nth-child(1){
    background-image: url("../images/f1.jpg");
    border-right: solid 2px #fff;
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(1){
    background-image: url("../images/s1.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;

}
}
@media screen and (max-width:735px){.flock .imgs:nth-child(1){
    background-image: url("../images/m1.jpg");
    border-bottom: solid 2px #fff;

}
}
.flock .imgs:nth-child(2){
    background-image: url("../images/f2.jpg");
    border-right: solid 2px #fff;
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(2){
    background-image: url("../images/s2.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
}
@media screen and (max-width:735px){.flock .imgs:nth-child(2){
    background-image: url("../images/m2.jpg");
    border-bottom: solid 2px #fff;

}
}
.flock .imgs:nth-child(3){
    background-image: url("../images/f3.jpg");
    border-right: solid 2px #fff;
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(3){
    background-image: url("../images/s3.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
}
@media screen and (max-width:735px){.flock .imgs:nth-child(3){
    background-image: url("../images/m3.jpg");
    border-bottom: solid 2px #fff;

}
}
.flock .imgs:nth-child(4){
    background-image: url("../images/f4.jpg");
    border-right: solid 2px #fff;
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(4){
    background-image: url("../images/s4.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
}
@media screen and (max-width:735px){.flock .imgs:nth-child(4){
    background-image: url("../images/m4.jpg");
    border-bottom: solid 2px #fff;

}
    .navsmallshows{
        width:100%;
        height:0;
        background-color: #000;
        overflow: hidden;
    }
    .navsmallshows-box{
        width:90%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 20px 20px;
    }
    .navsmallshows li{
        width:100%;
        font-size: 20px;
        color: #fff;
        padding:10px 0;
        border-bottom: 1px solid #ccc;
        transition: all 0.5s;
    }
    .navsmallshows li:hover{
        color: #BCBCBC;
        cursor: pointer;
    }
    .navsmallshows li:last-child{
        border-bottom: none;
    }
}
/*最下面*/
.last{
    width: 100%;
    /*height: 600px;*/
    margin-top: -2px;
    background: #f2f2f2;
}
.bigtext{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.list{
    width: 100%;
    height: auto;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e3e3e3;
    margin: 0 auto;
}
.listtext{
      width: 100%;
      height: auto;
      padding-left: 150px;
       margin: 0 auto;
       margin-top: 19px;
}
.bigtext{
    width: 100%;
    height: 385px;
    margin: 0 auto;
}



.lasttext{
    width: 980px;
    height: 240px;
    margin: 0 auto;
    margin-top: 25px;
 
}
.zibegin{
    width: 20%;
    height: 240px;
    float: left;
}
.zibegin a{
     display: block;
     color: #717272;

}
.firstext{
    width: 100%
}
span{
    display: none;
}



/*更多方式购买*/
.morebuy,.copy{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 150px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #f2f2f2;
 
}
.morebuy a{
    color: #1d7bcb;
}
.copy{
     padding-top: 12px;
     border: none;
     color: #a0a0a0;

}

@media screen and (max-width: 1068px) {
    .lasttext {
        width: 100%;
        height: 240px;
        padding-left: 20px;
        background-color: #F2F2F2;

    }

    .zibegin {
        width: 20%;
        height: 240px;
        padding-top: 0px;
        float: left;
    }

    .listtext{
      width: 100%;
      height: auto;
      padding-left: 20px;
      margin-top: 19px;
}
span{
    display: none;
}
.morebuy, .cop{
    padding-left: 20px;
}
.copy{
    padding-left: 20px;
}
}

@media screen and (max-width: 735px) {
    .top{
        transition: all 0.5s;
    }
    p{
        display:none;
    }
   
    .zibegin{
    width: 100%;
    height: auto;
    padding-top: 0px;
    }
         .lasttext {
        width: 100%;
        height: 150px;
        padding-left: 20px;
             background-color: #f2f2f2;

    }

     html{
         background-color: #f2f2f2;
     }
}

