@import "metia.css";
.bbooxx{
    width: 7rem;height:auto;
    background: #fff;
    margin: 0 auto;
    padding-top: 0.3rem;
}
.bboox{
    width: 6.64rem;height:auto;
    margin-left: 0.12rem;
    margin-bottom: 0.3rem;
}
.nr1{
    width: 100%;height:0.24rem;
    margin-bottom: 0.3rem;
}
.lantiao{
    width: 0.04rem;background: #01b5ff;
    height: 0.24rem;margin-right: 0.2rem;
    margin-left: 0.08rem;
    margin-top: 0.06rem;
    float: left;
}
.p1{
    font-size: 0.24rem;min-font-size: 12px;
    color: #444;
}
.nr2{
    width: 100%;height:auto;
    display: flex;
    justify-content: space-between;
}
.yuquan{
    width: 0.20rem;height: 0.22rem;
    margin-top: 0.08rem;
    margin-right: 0.1rem;
    background: url("../images/lc5.gif") 0 0 no-repeat;
    background-size: cover;
}
.p2{
    display: block;
    width: 6.42rem;height: auto;
    font-size: 0.24rem;min-font-size: 12px;
    color: #666;text-align: justify;
    /*text-overflow:ellipsis;*/
    /*overflow:hidden;*/
    /*-webkit-line-clamp:3;*/
    /*-webkit-box-orient:vertical;*/
    /*display:-webkit-box;*/
}
.nr3{
    width: 100%;height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.24rem;
    min-font-size: 12px;
    text-align: center;
    border-bottom: 1px dashed #999;
}
.nr3 a{
    color: #ff9300;
}