ul,li,ol,dl,dd,dt,tr,td,h1,h2,h3,h4,h5,h6,input,img,div,article,p{
    margin: 0;padding: 0;
    list-style:none;
    border: none;
    display: block;}
a{text-decoration: none;padding: 0;
    margin:0; color:#000}
body{ font-size: 12px;
       margin: 0;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
img{
    border: none;
}
*{
    box-sizing: border-box;
}
.footer{
    width: 100%;
    height: 42px;
    background: #000;
}
.footer-sum{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background:#000;
}
.footer-sum p{
    width: 123px;
    height: 42px;
    color: #fff;
    padding-left: 15px;
    padding-top: 14px;
    float: left;
}
.img-list01{
     width: 332px;
     height: 42px;
     margin-left:350px;
     background:url("../images/第一页_02.png");
     float: left;
}
.nav{
    width: 1204px;
    height: 96px;
     border: 1px solid #fff;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;

}
.customer,.customer-img{
       width: 172px;
       height: 96px;
       line-height: 96px;
       font-size: 16px;
       color: #0A0A0A;
       text-align: center;
}
.customer-img{
    background:url("../images/第一页_01.png");
}
.text{
    transition: all 0.5s;
}
.text:hover{
    color: #f8a23b;
}
/*banner*/
.banner{
    width: 1090px;
    height: 572px;
    margin: 0 auto;
    background: url("../images/第一页_04.png");
     margin-bottom: 80px;
}
.one-have{
    width: 1090px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-family: 黑体 Regular;
}
.banner-customer{
    width: 1090px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #f8a23b;
}
.bach-sum{
    width: 1090px;
    height: 856px;
    margin: 0 auto;
    margin-top: 10px;
}
.bach{
    width: 403px;
    height:856px;
    float: left;
}
.bachs{
    width: 687px;
    height: 856px;
    float: left;
    background: url("../images/第一页_05.png");
}
.bach-text{
    width: 40px;
    height: auto;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 246px;
}
.text-bush{
    padding-top: 30px;
   text-align: center;
}
.bottom{
    width: 250px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 48px;
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}
.bottom:hover{
    color: #f8a23b;
}
.box{
    width: 1042px;
    height: 506px;
    border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lit,.lits{
    width: 238px;
    height: 238px;
    background: url("../images/000.png");
    background-position: 125px 40px;
    background-color: #f8f8f8;
    transition: all 0.5s;
    padding-top: 50px;
    padding-left: 15px;
}
.lits{
    margin-top: 28px;
}
.lit:hover{
    width: 238px;
    height: 238px;
    transform:scale(1.1);
}
.lits:hover{
    width: 238px;
    height: 238px;
    transform:scale(1.1);
}
.box-tow{
    width: 1060px;
    height: 170px;
    border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box-tow-one{
    width: 401px;
    height: 170px;
    border-bottom: 1px solid #cccccc;
    background: #fff;
}
.box-tow p{
    margin-top: 155px;
    font-size: 15px;
}
.watch{
    width: 1207px;
    height: 893px;
    margin: 0 auto;
    margin-top: 45px;
    background: url("../images/手表.png");
}
.bottoms{
    width: 250px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    line-height: 48px;
    margin-top: 10px;
    margin-left: 306px;
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}
.bottoms:hover{
    color: #f8a23b;
}
/*footer*/
.footer-box{
    width: 100%;
    height: 240px;
    margin: 0 auto;
    border-top: 1px solid #d9d7d8;
    display: flex;
    margin-top: 100px;

}
.footer-samll-box{
    width: 240px;
    height: 240px;
    padding-top: 100px;
    background: #f4f2f3;
}